name: Build Example

on:
  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1

      - name: setup npm
        uses: actions/setup-node@v4
        with:
          node-version: '14'
      
      - name: install Dependencies
        run: npm install

      - name: Build
        run: npm run build --if-present
      
      - name: verify
        run: ls -alhR
      
      - name: ZIP
        run: zip -r zip.zip .