name: Build Example

on:
  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1

      - name: setup npm
        uses: actions/setup-node@v4
        with:
          node-version: '14'
      
      - name: install Dependencies
        run: npm install

      - name: Build
        run: npm run build --if-present
      
      - name: test
        run: npm test -- --coverage
      
      - name: ZIP
        run: zip -r zip.zip .

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      #- name: Set up QEMU
      # uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/app:latest