name: Build Example

on:
  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1

      - name: setup npm
        uses: actions/setup-node@v4
        with:
          node-version: '14'
      
      - name: install Dependencies
        run: npm install

      - name: Build
        run: npm run build --if-present
      
      - name: test
        run: npm test
      
      - name: ZIP
        run: zip -r zip.zip .

      - name: Better Test Reports Action
        uses: dorny/test-reporter@v2
        with:
          name: JEST Tests            # Name of the check run which will be created
          path: reports/jest-*.xml    # Path to test results
          reporter: java-junit        # Format of test results
    


