name: Dependencies Example

on:
  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1

      - name: setup npm
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      
      - name: verify
        run: ls -alhR